.about {
    font-family: "Inter-Regular";
    opacity: 25%;
    color: var(--text-color);
}

.Sec1{
    background-color: var(--primary-color);
}

.Image1 {
    height: 500px;
    position: relative;
    top: 100px;
    left: 100px;
    width: 1140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text1 {
    color: var(--text-color);
    font-family: "Inter-Bold";
    font-size: 40px;
    width: 500px;
}

.text2 {
    color: var(--text-color);
    font-family: "Inter-Regular";
    font-size: 16px;;
    width: 500px;
}

.colortext {
    color: var(--button-color);
}

div div a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(122 122 122 / 0.2);
    background-color: var(--checkout);
}
.ZOV {
    width: 500px;
}

.socials {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Socialss {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

.Image11 {
    position: absolute;
}

.Image22 {
    position: relative;
}

.scroll_down {
    opacity: 25%;
    color: var(--third-color);
    font-family: "Inter-Regular";
}

.Stick {
    opacity: 25%;
    background-color: var(--third-color);
    width: 160px;
    height: 1px;
}

.Scroll {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 272px;
    rotate: -90deg;
    gap:20px;
    right: 50px;
    z-index: 3;
}

.checkout {
    color: var(--text-color);
    font-family: "Inter-Regular";
}