.EXPERIENCE{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1168px;
    padding: 80px;
    align-items: center;
    background-color: var(--secondary-color);
    padding-bottom: 80px;
}

.Exp1{
    font-family: "Inter-Regular";
    opacity: .3;
    color: var(--text-color);
}
.Exp2{
    font-family: "Inter-Bold";
    margin-top: 40px;
    color: var(--text-color);
}
.Jour{
    font-family: "Inter-Regular";
    width: 430px;
    text-align: center;
    margin-top: 20px;
    color: var(--text-color);
}

.Grid2 {
    width: 80vw;
    height: 696px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin-top: 60px;
    padding: 0;
}

.Item {
    padding: 40px;
    border: 1px solid rgb(0, 0, 0, .25);
    border-radius: 10px;
    font-family: "Inter-Regular";
}

.Item h2 {
    margin-top: 40px;
    font-family: "Inter-Bold";
    color: var(--text-color);
}

.Item p {
    color: var(--text-color);
}

.Item div {
    font-size: 100px;
    font-family: "Inter-Bold";
    color: var(--pb);
}