div {
    background-color: #f5f4f0;
    border-radius: 36px;
    display: block;
    position: absolute;
    width: 100%;
    height: 96px;
    bottom: 0;
    z-index: 2;}
div:before {
    /*Ваш код*/
    background-color: #f5f4f0;
    border-radius: 36px;
    display: block;
    position: absolute;
    width: 100%;
    height: 96px;
    z-index: 1;
    background-color: #000;
    border-radius: 36px;
}


div:after {
    background: linear-gradient(145deg, #fcdd2e, #fcb600);
    border-radius: 36px;
    z-index: -1;
    /*Ваш код*/
}