body{
    background-color: var(--primary-color);
}
.wrapper{
    width: 100%;
    background-color: var(--primary-color);
    position: sticky;
}

header{
    margin-left: 120px;
    width:1200px;
}
.theme {
    background-color: var(--primary-color);
    font-family: "Inter-Regular";
    border: 0;
    color: var(--text-color);
}

.nav {
    background-color: var(--primary-color);
    z-index: 10;
    width: 90vw;
    top: 20px;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
}  

.Header1 {
    display: flex;
    justify-content: center;
    gap: 44px;
}

.Header1 a{
    background-color: var(--primary-color);
    border: 0;
    width: 80px;
}

nav a {
    text-decoration: none;
    font-family: "Inter-Regular";
    color: var(--text-color);
}

nav {
    margin-top: 16px;
    margin-left: var(--margin);
    margin-right: var(--margin);
}

.contact {
    border: 0;
    background-color:var( --button-color);
    color: white;
    border-radius: 8%;
    width: 100px;
    height: 52px;
    font-family: "Inter-Regular";
}

.Sec1 {
    background-color: var(--primary-color);
}
