
.nazvanie {
    margin: 0 auto;
    background-color: var(--primary-color);
    padding: 30px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 1200px;
    height: 120px;
}
.nazvanie {
    margin: 0 auto;
    width: 100%;
}
.cont {
    margin: 0 auto;
    width: 1200px;
    display: flex;
}


.d-flex {
    display: flex;
    align-items: center;
}
.theme {
    border: 0;
    background: none;
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
    border: 0;
    font-family: "Inter-Regular";
}

.theme:hover {
    color: var(--button-color);
    font-weight: 500;
}

.nav {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button1 {
    color: #fff;
    font-size: 20px;
    width: 100px;
    height: 52px;
    border-radius: 5px;
    background-color: var(--button-color);
    border: 0;
    font-family: "Inter-Regular";
}

.button1:hover {
    background-color: var(--buttonclick-color);
    border: none;
}

.form__label {
    color: var(--third-color);
    display: block;
    font-weight: bold;
    margin-block-end: 12px;
    font-size: 20px;
    line-height: 140%;
}

.form__label::after {
    content: "*";
    margin-left: 5px;
    color: rgb(255, 0, 85)
}

.ul1 {
    display: flex;
    gap: 44px;
    transition: .5s;
}

.ul1 li a {
    font-family: "Inter-Regular";
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
}